.hamburger {
  all: unset;
  cursor: pointer;
  width: 24px;
  height: 24px;
  background-size: contain;
}

.close-btn {
  all: unset;
  cursor: pointer;
  width: 24px;
  height: 24px;
  background-size: contain;
}

.close-btn__dark {
  background-image: url('../../images/icons/close-icon.svg');
}

.hamburger__dark {
  background-image: url('../../images/icons/hamburger-black.svg');
}

.close-btn__light {
  background-image: url('../../images/icons/close-icon.svg');
}

.hamburger__light {
  background-image: url('../../images/icons/hamburger-white.svg');
}
